<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="drewsauce:update:stock-quantities" xsi:type="object">Drewsauce\StockSync\Console\Command\StockSyncCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Drewsauce\StockSync\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Drewsauce\StockSync\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">StockSyncLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Drewsauce\StockSync\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>